<ion-view title="你的手机号">
    <ion-nav-buttons side="right">
      <button ng-click="logger.login()" ng-disabled="!logger.phone || logger.phone.length === 0" class="button button-clear button-positive">确定</button>
    </ion-nav-buttons>
    <ion-content class="login">
      <div class="text-center instructions">
        请输入你的手机号
      </div>
      <div class="list">
        <label class="item item-input">
          <input ng-model="logger.phone" on-return="logger.login()" type="text" placeholder="Your phone number">
        </label>
      </div>
    </ion-content>
  </ion-view>