<ion-view title="你的手机号">
    <!-- <ion-nav-buttons side="right">
      <button ng-click="logger.login()" ng-disabled="!logger.phone || logger.phone.length === 0" class="button button-clear button-positive">确定</button>
    </ion-nav-buttons> -->
    <ion-content class="login">
        <!-- <div class="text-center instructions">
        请输入你的手机号
      </div>
      <div class="list">
        <label class="item item-input">
          <input ng-model="logger.phone" on-return="logger.login()" type="text" placeholder="你的手机号">
        </label>
      </div> -->
      {{ currentUser }}
      {{logger.email}}
      {{logger.password}}
      
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="邮箱" ng-model="logger.email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="密码" ng-model="logger.password">
            </label>
            <button class="button button-block button-positive" ng-click="logger.login()">
                登陆
            </button>
            <button class="button button-block button-positive" ng-click="logger.logout()">
                退出登陆
            </button>
        </div>
    </ion-content>
</ion-view>