<ion-view view-title="设置">
  <ion-content class="settings">
      <div class="profile-picture">
          <div class="uploadwraper">
            <img ng-src="{{ settings.currentUser.profile.photo }}" alt="settings picture">
          </div>
        </div>
          <div class="name">
            {{settings.profile.username}}
          </div>
    <ion-list>
      <ion-item class="item-icon-right" ng-click='settings.$state.go("profile")'>
        个人资料
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="padding text-center">
        <button ng-click="settings.logout()" class="button button-clear button-assertive">退出登录</button>
      </div>
  </ion-content>
</ion-view>