<ion-view title="{{ confirmation.phone }}">
    <ion-nav-buttons side="right">
        <button ng-click="confirmation.confirm()" ng-disabled="!confirmation.code || confirmation.code.length === 0" class="button button-clear button-positive">确定</button>
    </ion-nav-buttons>

    <ion-content>
        <div class="text-center padding">
            我们给你发了一封短信，上面有一个验证码。
        </div>
        <div class="text-center padding">
            要完成您的电话号码验证飞猪聊天，请输入4位激活代码。
        </div>

        <div class="list padding-top">
            <label class="item item-input">
                <input ng-model="confirmation.code" on-return="confirmation.confirm()" type="text" placeholder="验证码">
            </label>
        </div>
    </ion-content>
</ion-view>