.recents {
    .title {
        color: grey;
        padding: 10px;
    }
    .none {
        text-align: center;
        color: grey;
    }
    .last-message-timestamp {
        position: absolute;
        top: 16px;
        right: 38px;
        font-size: 14px;
        color: #9A9898;
    }
    .last-message-status {
        position: absolute;
        bottom: 16px;
        right: 38px;
        font-size: 14px;
        color: #9A9898;
    }
}